body {
    height: 100%;
    background-image: url("do.jpg");

    background-repeat: no-repeat center;
    background-size: cover;
}


#logInForm {
    width: 700px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#signUpForm {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#forgotPasswordForm {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
